@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
    
}

header {
    padding-bottom: 0px;
}

header > h1 {
    flex-basis: 50px;
}

header > span#burguer {
    display: block;
    text-align: center;
}

header > nav > a {
    width: 90vw;
}

main {
    margin: 10px;
}

span#burguer {
    background-color: rgb(73, 73, 73);
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100vw;
}

span#burguer:hover{
    background-color: white;
    color: black;
}

header > nav {
    display: none;
}

